

body{
    background-color: black;
}

main{
    margin-top: 160px;
  
}
.centrobot{
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
}
.justify-content-center{
    justify-content: center;
}
.d-flex {
    display: flex;
    justify-content: center;
}
.r-padding{
    padding-bottom: 5px;
    padding-top: 5px;
}




/* iframe video documental youtube + AOS:
<iframe data-aos="fade-up"
 data-aos-duration="3000" width="560" height="315" 
 src="https://www.youtube.com/embed/3wAQxJeyyXo" 
 title="YouTube video player" frameborder="0" 
 allow="accelerometer; autoplay; clipboard-write; 
 encrypted-media; gyroscope; picture-in-picture; 
 web-share" allowfullscreen></iframe> */
