.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .edit {
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  header{
    background-color: rgb(29, 31, 33);
  }
  